body {
  overflow-x: hidden;
  position: relative;
  color: $white2;
  font-family: 'work', sans-serif;
  font-weight: 400;
  background: $black;

  &.active-body {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white2;
}

.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  @media(max-width: 450px) {
    margin-bottom: 30px; 
  } 
}

main {
  overflow: hidden;
}